# Skupina B - Analýza výstavby dopravní infrastruktury v zemích Evropské Unie

Prvním krokem bude stažení potřebných dat. Níže jsou API odkazy na stažení dat.

In [28]:
railway_url = 'https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/ttr00003/1.0/*.*.*.*.*?c[freq]=A&c[tra_infr]=TOTAL&c[n_tracks]=TOTAL&c[unit]=KM&c[geo]=EU27_2020,BE,BG,CZ,DK,DE,EE,IE,EL,ES,FR,HR,IT,LV,LT,LU,HU,NL,AT,PL,PT,RO,SI,SK,FI,SE,LI,NO,CH,UK,BA,ME,MD,MK,GE,AL,RS,TR,UA,XK,CY,EA19,EA20,IS,MT&c[TIME_PERIOD]=2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023&compress=false&format=csvdata&formatVersion=1.0&lang=en&labels=label_only'
highway_url = 'https://ec.europa.eu/eurostat/api/dissemination/sdmx/3.0/data/dataflow/ESTAT/ttr00002/1.0/*.*.*.*?c[freq]=A&c[tra_infr]=MWAY&c[unit]=KM&c[geo]=EU27_2020,BE,BG,CZ,DK,DE,EE,IE,EL,ES,FR,HR,IT,CY,LV,LT,LU,HU,MT,NL,AT,PL,PT,RO,SI,SK,FI,SE,IS,LI,NO,CH,UK,BA,ME,MD,MK,GE,AL,RS,TR,UA,XK,EA19,EA20&c[TIME_PERIOD]=2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024&compress=false&format=csvdata&formatVersion=1.0&lang=en&labels=label_only'

Definujme funkci pro jejich stažení.

In [29]:
import requests
import pandas as pd
import io

def download_file(url):
    response = requests.get(url)
    if response.status_code != 200:
        print(f'Failed to retrieve data, code: {response.status_code}')
        return None

    file = io.BytesIO(response.content)

    return file

Nyní data stáhneme a otevřeme pomocí knihovny Pandas.

In [30]:
import pandas as pd

railway_file = download_file(railway_url)
highway_file = download_file(highway_url)

railway_data = pd.read_csv(railway_file)
highway_data = pd.read_csv(highway_file)

Správnost načtení ověříme zobrazením hlaviček.

In [31]:
railway_data.head()

,DATAFLOW,LAST UPDATE,freq,tra_infr,n_tracks,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TTR00003(1.0),30/10/25 23:00:00,Annual,Total,Total,Kilometre,Albania,2012,353.0,i,NaN
1,ESTAT:TTR00003(1.0),30/10/25 23:00:00,Annual,Total,Total,Kilometre,Albania,2013,346.0,NaN,NaN
2,ESTAT:TTR00003(1.0),30/10/25 23:00:00,Annual,Total,Total,Kilometre,Albania,2014,346.0,NaN,NaN
3,ESTAT:TTR00003(1.0),30/10/25 23:00:00,Annual,Total,Total,Kilometre,Albania,2015,379.0,NaN,NaN
4,ESTAT:TTR00003(1.0),30/10/25 23:00:00,Annual,Total,Total,Kilometre,Albania,2016,334.0,NaN,NaN

In [32]:
highway_data.head()

,DATAFLOW,LAST UPDATE,freq,tra_infr,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG,CONF_STATUS
0,ESTAT:TTR00002(1.0),31/10/25 23:00:00,Annual,Motorways,Kilometre,Albania,2013,0.0,NaN,NaN
1,ESTAT:TTR00002(1.0),31/10/25 23:00:00,Annual,Motorways,Kilometre,Albania,2014,0.0,NaN,NaN
2,ESTAT:TTR00002(1.0),31/10/25 23:00:00,Annual,Motorways,Kilometre,Albania,2015,0.0,NaN,NaN
3,ESTAT:TTR00002(1.0),31/10/25 23:00:00,Annual,Motorways,Kilometre,Albania,2016,0.0,NaN,NaN
4,ESTAT:TTR00002(1.0),31/10/25 23:00:00,Annual,Motorways,Kilometre,Albania,2017,0.0,NaN,NaN